doctype html
html(lang="pt-BR")
  head
    title="Gulp Workflow"
    link(rel="stylesheet" href="./css/all.min.css")
  body
    .app
      .app-logo
        img(src="./img/logo.png" class="app-logo__image" alt="Gulp Worklow")
      h1(class="app__heading") Welcome to Gulp Workflow

    script(src="./js/all.min.js")
