*,
*:before,
*:after
  box-sizing: border-box

.clearfix
  clearfix()

.sro
  screen-reader-only()

body
  width: 100%
  background: $blue
  color: $white
  font-family: 'Roboto', sans-serif

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
menu
  margin: 0
  padding: 0

ul
  list-style: none
